html {
	overflow-y:scroll; 
}

body { 
	padding-top:50px; 
}

.progress { 
	height: 1.5em;
}

.progress .progress-bar.ease-in-out {
    -webkit-transition: width 0.33s ease-in-out;
    -moz-transition: width 0.33s ease-in-out;
    -ms-transition: width 0.33s ease-in-out;
    -o-transition: width 0.33s ease-in-out;
    transition: width 0.33s ease-in-out;
}